.parts-of-speech-container{
    max-width: 100%;
    max-width: 32rem;
    display: flex;
    align-items: center;
    margin: 0 0 2rem 0;
}

.part-of-speech{
    max-width: fit-content;
    padding: .5rem 2.5rem;
    background-color: var(--partOfSpeechInactiveLight);
    opacity: .5;
    border: none;
    margin: 0 2rem 0 0;
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
}

.part-of-speech.active{
    background-color: var(--partOfSpeechActiveLight);
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.part-of-speech p{
    font-size: 1.4rem;
    color: white;
    text-transform: capitalize;
}