.settings-overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-modal{
    background-color: var(--backgroundColorLight);
    width: 85vw;
    max-width: 35rem;
    padding: 1rem 1.5rem 3rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.settings-modal > button{
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
}

.settings-modal > h1{
    text-align: center;
    margin: 0 0 2rem 0;
    letter-spacing: -.5px;
}


.accent-colors-container h2{
    margin: 2rem 0 1rem 0;
}

.accent-colors-container .accent-colors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}